extends layout

append head
    link(rel="stylesheet" href="/stylesheets/app.css")
    script(src="../javascripts/app.js" type="module" defer)



block content
    .page
        nav.navbar
            input.navbar#searchBar(type="text", placeholder="Search here...")
            div.navbar#settings
                img.navbar#settingsGear(src="../images/gear.png")
                div.settingGroup.settingHide
                    div.settingHeaderGroup
                        img.settingHeader#userProfile(src="../images/favicon.png")
                        div.settingUserInfo
                          div.settingHeader#userName=currUser.username
                          div.settingHeader#userEmail=currUser.email
                    ul.settingListGroup
                        li.settingList.sLGray: a(href='/') Notifications
                        li.settingList.sLGray: a(href='/') Help
                        li.settingList.sLGray: a(href='/') Keyboard shortcuts
                        li.settingList.sLGray: a(href='/') Account Settings
                        li.settingList.sLSO: button#signOut(type='submit') Sign Out
        div.sidebar
          div.logoContainer
              img.logo(src="../images/logo-text.png")
          ul.default-tasks
            li.all-tasks All Tasks
            li.due-today Today
            li.due-tomorrow Tomorrow
            li.overdue OVERDUE
            li.given-to-others Given to Others
            li.given-to-me Given To Me
            .list-sidebar
              div Lists
              div
                a.add-lists +
              .add-list-form
            div
            div.list-list-sidebar
              div.lists-grid-container
                  //- each list in myLists
                    //- div
                    //-   li.list-lists(id=`${list.id}`)=list.title
                    //- div
                    //-   a.delete-list(id=`${list.id}`) -

            ul
              div.contact-sidebar
                div Contacts
                div
                  a.add-contacts +
              div.contact-list-sidebar
                li.contact-list(id=`${me}`)=myName.username + " (me)"
                if contactsAll
                  each contact in contactsAll
                    div.list-grid
                      div
                        li.contact-list(id=`${contact.id}`)=contact.username
                      div
                        a.delete-contact(id=`${contact.id}`) -
              div.add-contact-sidebar
        div.tabbedContainer
            div.tabbedGroup
                a.tabbedLink#incomplete Incomplete
                a.tabbedLink#complete Completed

        div.summaryContainer
          div.summaryHeader
            //- h2.summary#search Search
            div#tasksDueValue
              div.tasksDueValue=(tasks.length + tasksGivenToMe.length)
              div#tasksDue Tasks
            div#tasksOverdueValue n/a
              div#tasksOverdue Overdue
          .updateList
          .newList
          div.fiona
          div.edit-form

        div.mainContainer
            include includes/add-task
            div.my-tasks
            .task-list
            .assigned-list
            .tanner


        //- include includes/add-task
        //- div.my-tasks
        //-  h1 My tasks
        //- .task-list
        //- .fiona
        //- .tanner
        //- .tanner

    script(type="module" src="javascripts/app.js")
