extends layout

append head
    link(rel="stylesheet" href="/stylesheets/app.css")
    script(src="../javascripts/app.js" type="module" defer)



block content
    .page
        nav.navbar
            input.navbar#searchBar(type="text", placeholder="Search here...")
            div.navbar#settings
                img.navbar#settingsGear(src="../images/gear.png")
                div.settingGroup.settingHide
                    div.settingHeaderGroup
                        img.settingHeader#userProfile(src="../images/favicon.png")
                        div.settingHeader#userName= locals.currUser.username
                        //- div.settingHead#userEmail= locals.currUser.email
                    ul.settingListGroup
                        li.settingList: a(href='/') Notifications
                        li.settingList: a(href='/') Help
                        li.settingList: a(href='/') Keyboard shortcuts
                        li.settingList: a(href='/') Account Settings
                        li.settingList: button#signOut(type='submit') Sign Out
        div.sidebar
            img.logo(src="../images/maybe-logo.png")
            ul
              .list-sidebar
                div Lists
                div
                  a.add-lists(href='/lists/new') +
              div.list-list-sidebar
                each list in myLists
                  div.lists-grid
                    div
                      li.list-lists(id=`${list.id}`)=list.title
                    div
                      a.delete-list(id=`${list.id}`) -

            ul
              div.contact-sidebar
                div Contacts
                div
                  a.add-contacts +
              div.contact-list-sidebar
                li.contact-list(id=`${me}`)=myName.username + " (me)"
                if contactsAll
                  each contact in contactsAll
                    div.list-grid
                      div
                        li.contact-list(id=`${contact.id}`)=contact.username
                      div
                        a.delete-contact(id=`${contact.id}`) -
              div.add-contact-sidebar
        div.tabbedContainer
            div.tabbedGroup
                a.tabbedLink#incomplete Incomplete
                a.tabbedLink#complete Complete

        div.summaryContainer
          div.summaryHeader
            //- h2.summary#search Search
            div.summary#tasksDue Tasks
            div.summary#tasksOverDue Overdue
          .updateList
          div.fiona
          div.edit-form

        div.mainContainer
            include includes/add-task
            div.my-tasks
            .task-list
            .tanner


        //- include includes/add-task
        //- div.my-tasks
        //-  h1 My tasks
        //- .task-list
        //- .fiona
        //- .tanner
        //- .tanner

    script(type="module" src="javascripts/app.js")
